@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Colors-Stroke-Primary: #ECEDEF;
  --Colors-Text-Secondary: #868686;
}
